.exito{
    align-items: center;
    display: flex;
    flex-direction: column;

      h2{
        text-align: center;
        border-bottom: 2px solid yellow;
        }
      img{
        width: 600px;
        height: 400px;
        }
    }
