.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;

 #Nombre{
    width: 770px;
    height: 45.5px;
}
 #email{
    width: 770px;
    height: 45.5px;
}
 #telefono{
    width: 770px;
    height: 45.5px;
}
 #asunto{
    width: 770px;
    height: 45.5px;
}
 #enviar{
    width: 774px;
    height: 60px;
}
}
