.prodes{
    background-color:blue;
    width: 100px;
    padding: 100px;
    border-radius: 10px;
    margin: 500px; 

    &:hover{
        background-color: black;
     }
     
}

.eldescar{
   text-align: center;
   padding-top: 200px;
   margin-bottom: 10%;
}
.abajo{
   margin-top: 100px;
}

