.fabricacion{
    background-color: cadetblue;
    padding: 50px;
    
    h1{
        display: flex;
        font-size: 50px;
        color: white;
        border-bottom: 4px solid blue;
    }
}
    .imgs{
        display: flex;
        padding: 20px;
    img{
        padding: 10px;
        width: 400px;
        height: 400px;
        align-items: center;
    }
    }
    article p{
        font-size: 25px;
    }
    
    @media(max-width:480px){
        h1{
            flex-direction: column;
        }
        .imgs{
            flex-direction: column;
            img{
                width: 300px;
                height: 200px;
            }

        }
        article p{
            font-size: 25px;
            display: flex;
        }
    }
    