@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
}

body {
  font-weight: sans-serif;
  margin: 0;
  background-image: url(../imagenes/layered-steps-haikei.svg);
}
@media (max-width: 480px) {
  body {
    background-image: none;
  }
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}

header {
  min-height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 0px;
}
.logo img {
  display: flex;
  height: 90px;
}

nav a {
  font-weight: 800;
  padding-right: 30px;
  font-size: 17px;
}

.listaorisontal {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.listavertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: black;
}
.listavertical li a {
  display: block;
  list-style: none;
  padding: 20px;
  padding-left: 0px;
}

.listaorisontal li:hover .listavertical {
  display: block;
}

nav a:hover {
  color: yellow;
}

.mostrar-menu {
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: none;
  transition: 0.4s;
}
.mostrar-menu {
  order: 1;
}

#check {
  display: none;
}

footer {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: black;
}
footer h2 {
  color: white;
}
footer div {
  padding: 20px;
}
footer div iframe {
  height: 200px;
}
footer div h2 {
  border-bottom: 2px solid yellow;
}
footer #Nombre {
  height: 30px;
}
footer #email {
  height: 30px;
}
footer #enviar {
  width: 350px;
  height: 40px;
  background-color: white;
}
footer #enviar:hover {
  background-color: yellow;
}

.footercontac a {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.footercontac a i {
  height: 10px;
  width: 10px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding-right: 20px;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  .mostrar-menu,
  .esconder-menu {
    color: white;
    display: block;
    position: relative;
  }
  .listaorisontal {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: black;
    width: 90%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  #check:checked + .listaorisontal {
    clip-path: circle(100% at center);
  }
  .carrusel img {
    display: flex;
    left: 0;
  }
  .parrafo {
    flex-direction: column;
  }
  .pservicios img {
    width: 350px;
    height: 200px;
    border-radius: 25% 10%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer iframe {
    width: 300px;
  }
  #Nombre {
    width: 20rem;
  }
  #email {
    width: 20rem;
  }
  #comentario {
    width: 300px;
    height: 100px;
  }
  #enviar {
    width: 1rem;
  }
}
.carrusel {
  height: 500px;
  width: 1300px;
  margin: auto;
  display: flex;
}

.parrafo {
  display: flex;
  align-items: center;
  padding: 100px;
}
.parrafo img {
  height: 300px;
  width: 300px;
  padding: 20px;
}
.parrafo select {
  font-size: 25px;
}

/* descargable */
.descargable {
  background-color: blue;
  width: 100px;
  padding: 12px;
  border-radius: 10px;
  margin: 100px;
}
.descargable:hover {
  background-color: black;
}

/*servicios*/
.pservicios {
  text-align: center;
}
.pservicios img {
  width: 600px;
  height: 400px;
  border-radius: 25% 10%;
}

.prodes {
  background-color: blue;
  width: 100px;
  padding: 100px;
  border-radius: 10px;
  margin: 500px;
}
.prodes:hover {
  background-color: black;
}

.eldescar {
  text-align: center;
  padding-top: 200px;
  margin-bottom: 10%;
}

.abajo {
  margin-top: 100px;
}

.exito {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exito h2 {
  text-align: center;
  border-bottom: 2px solid yellow;
}
.exito img {
  width: 600px;
  height: 400px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto #Nombre {
  width: 770px;
  height: 45.5px;
}
.contacto #email {
  width: 770px;
  height: 45.5px;
}
.contacto #telefono {
  width: 770px;
  height: 45.5px;
}
.contacto #asunto {
  width: 770px;
  height: 45.5px;
}
.contacto #enviar {
  width: 774px;
  height: 60px;
}

.fabricacion {
  background-color: cadetblue;
  padding: 50px;
}
.fabricacion h1 {
  display: flex;
  font-size: 50px;
  color: white;
  border-bottom: 4px solid blue;
  text-align: center;
}

.imgs {
  display: flex;
  padding: 20px;
}
.imgs img {
  padding: 10px;
  width: 400px;
  height: 400px;
  align-items: center;
}

article p {
  font-size: 25px;
}

/*casos de exito*/
@media (max-width: 480px) {
  .exito img {
    width: 400px;
    height: 300px;
  }
}
/*contacto*/
@media (max-width: 480px) {
  .contacto {
    display: flex; /* Alinear los elementos en forma de columna */
    flex-direction: column; /* Alinear los elementos de arriba a abajo */
    align-items: center; /* Centrar los elementos dentro de sus contenedores */
    width: 100%; /* Ajustar el ancho al 80% de la pantalla */
    margin: 0 auto; /* Centrar el formulario en la página */
  }
  #Nombre {
    width: 100%; /* El formulario se adapta al ancho de la pantalla */
    height: 45.5px;
  }
  #email {
    width: 100%;
    height: 45.5px;
  }
  #telefono {
    width: 100%;
    height: 45.5px;
  }
  #asunto {
    width: 100%;
    height: 45.5px;
  }
  #enviar {
    width: 100%;
    height: 60px;
  }
}
/* !important se usa para que las propiedades no sean sobreescritas */
/*index*/
@media (max-width: 480px) {
  .carrusel img {
    width: 480px;
    align-content: baseline;
  }
  .pservicios img {
    width: 300px;
    height: 200px;
  }
}
/*servicios*/
@media (max-width: 480px) {
  h1 {
    flex-direction: column;
  }
  .imgs {
    flex-direction: column;
  }
  .imgs img {
    width: 300px;
    height: 200px;
  }
  article p {
    font-size: 25px;
    display: flex;
  }
}
/*productos*/
@media (max-width: 480px) {
  .eldescar {
    width: 100%;
    height: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
