@media(max-width:480px){
    html{
        width: 100%;
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }

}


/*casos de exito*/

@media(max-width:480px){

    .exito img{
        width: 400px;
        height: 300px;
    }
}
/*contacto*/
@media(max-width:480px){
.contacto {
    display: flex; /* Alinear los elementos en forma de columna */
    flex-direction: column; /* Alinear los elementos de arriba a abajo */
    align-items: center; /* Centrar los elementos dentro de sus contenedores */

    div{
        justify-content: center;
        width: 100%;
    
   


  #Nombre {

   height:45.5px
   }
  #email {
 
   height:45.5px
   }
  #telefono {

   height:45.5px
   }
  #asunto {

   height:45.5px
   }
  #enviar { 

  height:60px 
  }
}
}
}
  /* !important se usa para que las propiedades no sean sobreescritas */
/*index*/
@media (max-width:480px){
    .carrusel{
        img{
            width: 480px;
            align-content: baseline;
        }
    }
    .pservicios{
        img{
        width: 300px;
        height: 200px;
        }
    }
}
/*servicios*/
@media(max-width:480px){
    h1{
        flex-direction: column;
    }
    .imgs{
        flex-direction: column;
        img{
            width: 300px;
            height: 200px;
        }

    }
    article p{
        font-size: 25px;
        display: flex;
    }
}

/*productos*/
@media(max-width:480px){
    .eldescar{
        width: 100%;
        margin: 0 auto;
    }
}
